<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caramelos do Vale</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.6.0/css/all.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- header -->

    <main>
      <section class="about-us large-margin">
        <img
          class="image1"
          src="../images/about-us1.jpg"
          alt="Nossa voluntária Amanda com um dos cães sob cuidado do projeto"
        />
        <div class="description">
          <h1 class="hero-title">Sobre Nós 🐾</h1>
          <p>
            Caramelos do Vale é uma ONG dedicada à proteção e ao cuidado de
            animais em situação de abandono e vulnerabilidade. Fundada com o
            objetivo de criar um mundo mais compassivo e responsável, nossa
            missão é resgatar, tratar e encontrar lares amorosos para animais
            que precisam de ajuda. Com o apoio de voluntários dedicados e
            doadores generosos, seguimos firmes em nossa luta para dar voz e
            esperança a esses seres indefesos, promovendo ações e campanhas que
            fazem a diferença.
          </p>
        </div>
      </section>
      <section class="large-margin">
        <div class="numbers">
          <div>
            <i class="fa-solid fa-heart fa-4x"></i>
            <p><b>89</b></p>
            <p>Adoções</p>
          </div>
          <div>
            <i class="fa-solid fa-suitcase-medical fa-4x"></i>
            <p><b>172</b></p>
            <p>Resgates</p>
          </div>
          <div>
            <i class="fa-solid fa-house fa-4x"></i>
            <p><b>27</b></p>
            <p>Animais atualmente em nossos cuidados</p>
          </div>
        </div>
        <p class="detail">
          *alguns dos animais resgatados tiveram os tutores posteriormente
          localizados e não fazem parte do número de adoções
        </p>
      </section>
      <section class="history large-margin">
        <h2 class="title-history">Lobo & Loba: onde tudo começou</h2>
        <div class="description-history">
          <img
            class="image2"
            src="../images/about-us2.jpg"
            alt="Os dois cães caramelos que foram a inspiração para o início do projeto"
          />
          <div class="description">
            <p>
              Essa dupla foi responsável pela formação do grupo, e o nome
              "Caramelos do Vale" é em homenagem a eles. Há alguns anos, eles
              apareceram no campus do Vale da UFRGS. Ambos são castrados,
              vacinados, e já foram levados ao veterinário algumas vezes.
              Recebem ração diariamente e usam coleiras anti pulgas e
              carrapatos. Embora eles sejam um sucesso na UFRGS, estão
              disponíveis para uma adoção conjunta.
            </p>
          </div>
        </div>
      </section>
      <section class="operation large-margin">
        <h2>Como Atuamos</h2>
        <p>
          Há mais de dois anos estamos lutando para dar um futuro melhor aos
          cães que são vítimas de abandono na região do Campus do Vale da UFRGS
          - que são muitos! Também trabalhamos de forma intensa nas enchentes de
          Porto Alegre de maio/2024, onde fomos muito além da nossa área de
          atuação.
        </p>
        <p>
          Ao todo, já acolhemos e mudamos o futuro de mais de 150 animais.
          Também construímos do zero um espaço de acolhimento para abrigar cães
          provisória ou definitivamente, com todo conforto e cuidado que eles
          merecem.
        </p>
        <p>
          Nossa atuação depende da ajuda de voluntários, parceiros e doadores
          que compartilham da nossa causa. Além de resgates, realizamos eventos
          de adoção e campanhas de arrecadação de ração e medicamentos.
        </p>
        <p>
          Com a ajuda de uma equipe dedicada de voluntários e parceiros,
          trabalhamos sem descanso para garantir que cada animal receba o
          cuidado necessário. Para nós, cada vida importa, e cada adoção é uma
          vitória para todos💛.
        </p>
      </section>
      <section class="join-us large-margin">
        <div>
          <h2>Junte-se a Nós</h2>
          <p>
            Você também pode fazer parte dessa corrente de amor! Seja adotando,
            voluntariando ou fazendo uma doação, toda ajuda é fundamental para
            continuarmos nosso trabalho. Juntos, podemos transformar a realidade
            de muitos animais e fazer do mundo um lugar mais justo e seguro para
            todos.
          </p>
          <picture>
            <img
              class="image3 img-round"
              src="../images/join-us1.jpg"
              alt="Nossa voluntária Amanda com um dos cães sob cuidado do projeto"
            />
          </picture>
          <picture>
            <img
              class="image4 img-round"
              src="../images/join-us2.jpg"
              alt="Nossa voluntária Amanda com um dos cães sob cuidado do projeto"
            />
          </picture>
          <picture>
            <img
              class="image5 img-round"
              src="../images/join-us3.jpg"
              alt="Nossa voluntária Amanda com um dos cães sob cuidado do projeto"
            />
          </picture>
          <picture>
            <img
              class="image6 img-round"
              src="../images/join-us4.jpg"
              alt="Nossa voluntária Amanda com um dos cães sob cuidado do projeto"
            />
          </picture>
        </div>
        <picture>
          <img
            class="image7"
            src="../images/join-us5.jpg"
            alt="Nossa voluntária Amanda com um dos cães sob cuidado do projeto"
          />
        </picture>
      </section>
    </main>

    <!-- header -->
  </body>
</html>
