<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caramelos do Vale</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.6.0/css/all.css"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- header -->

    <main>
      <section class="contact">
        <h1>Ficou com alguma dúvida? Fale com a gente!</h1>
        <section class="small-margin">
          <i class="fa-brands fa-whatsapp fa-6x"></i>
          <br />
          <a
            class="button xsmall-margin"
            target="_blank"
            rel="noopener noreferrer"
            href="https://wa.me/5551991084114?text=Olá,%20gostaria%20de%20tirar%20uma%20dúvida%20sobre%20a%20Associação%20Caramelos%20do%20Vale"
            >Fale com a gente por WhatsApp
            <i class="fa-solid fa-arrow-right"></i
          ></a>
        </section>
        <section class="small-margin">
          <i class="fa-brands fa-instagram fa-6x"></i>
          <br />
          <a
            class="button xsmall-margin"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.instagram.com/direct/t/caramelosdovale"
            >Fale com a gente por Instagram
            <i class="fa-solid fa-arrow-right"></i
          ></a>
        </section>
        <section class="small-margin">
          <i class="fa-regular fa-envelope fa-6x"></i> <br />
          <div class="xsmall-margin">
            <p>Fale com a gente por Email</p>
            <p>caramelosdovale@gmail.com</p>
          </div>
        </section>
        <div class="contact-img contact-img1">
          <img
            class="image8 img-round"
            src="../images/contact1.jpg"
            alt="Imagem do cão de nome Timóteo"
          />
          <p class="contact-img-description contact-description1">
            O Timóteo vai esclarecer todas as suas dúvidas💛
          </p>
        </div>
        <div class="contact-img contact-img2">
          <img
            class="image9 img-round"
            src="../images/contact2.jpg"
            alt="Imagem do cão de nome Lobo"
          />
          <p class="contact-img-description contact-description2">
            O Lobo vai estar pronto para responder suas perguntas 🐾
          </p>
        </div>
      </section>
    </main>

    <!-- header -->
  </body>
</html>
