@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #eab74a; /* Yellow */
  --secondary-color: #1e95b3; /* Blue */
  --primary-text-color: black;
  --secondary-text-color: #474747; /* Dark gray */
}

body {
  margin: 0;
  background-color: var(--primary-color);
}

header,
footer,
.footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  background-color: white;
}

.nav-desktop {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

main {
  background-color: var(--primary-color);
  padding: 5vw 10% 15vw;
}

h1,
h2,
h3,
h4 {
  color: inherit;
  font-family: "Cabin", sans-serif;
  margin: 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 40px;
}

a,
link {
  font-size: 20px;
  font-family: "Inter", serif;
  text-align: center;
  color: var(--primary-text-color);
  text-decoration: none;
}

p,
label {
  color: var(--secondary-text-color);
  font-size: 25px;
  font-family: "Inter", serif;
  margin: 5px auto;
}

section {
  text-align: center;
}

hr {
  border-top: 1px solid var(--secondary-color);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Inter", serif;
  font-size: 25px;
  margin: auto 7px;
  color: var(--primary-text-color);
}

button:active,
button:focus,
button:hover {
  color: var(--primary-text-color);
}

button:disabled {
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  cursor: not-allowed;
}

.button-primary {
  display: inline-block;
  margin: 10px auto;
  padding: 0 5px;
  font-size: 25px;
  font-family: "Inter", serif;
  background-color: var(--secondary-color);
  color: white;
  border: 10px solid var(--secondary-color);
  border-radius: 10px;
  cursor: pointer;
  max-width: 410px;
}

.button-secondary {
  display: inline-block;
  margin: 10px auto;
  padding: 0 5px;
  font-size: 25px;
  font-family: "Inter", serif;
  background-color: white;
  color: var(--secondary-color);
  border: 10px solid white;
  border-radius: 10px;
  cursor: pointer;
  max-width: 410px;
}

.button-active {
  background-color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  color: white;
  border-radius: 5px;
}

.ellipsis {
  font-family: "Inter", serif;
  font-size: 25px;
  margin: auto 7px;
}

main > section:first-of-type {
  margin-top: 30px;
}

main > section:last-of-type {
  margin-bottom: 0;
}

.nav-desktop-link {
  font-size: 20px;
  margin-right: 25px;
}

.link {
  text-decoration: none;
}

.icon,
.general-info > p,
.pet-description > p {
  color: var(--primary-text-color);
}

.button-icon {
  margin-left: 7px;
}

.button-left {
  margin-right: 7px;
}

.xlarge-margin {
  margin: 200px 0;
}

.large-margin {
  margin: 150px 0;
}

.small-margin {
  margin: 85px 0;
}

.xsmall-margin {
  margin: 30px 0;
}

.xxsmall-margin {
  margin: 10px 0;
}

img {
  height: auto; /* Maintains the ratio */
  border: 8px solid var(--secondary-color);
  border-radius: 15px;
}

.image1,
.image2,
.home-about-us-img {
  width: 50%;
  min-width: 150px;
  max-width: 600px;
}

.img-round {
  border-radius: 50%;
}

.img-join-us {
  position: absolute;
  width: 15%;
  max-width: 190px;
}

.image3 {
  top: -15%;
  left: 7%;
}

.image4 {
  top: 50%;
  left: -1%;
}

.image5 {
  top: -20%;
  right: 7%;
}

.image6 {
  top: 56%;
  right: -2%;
}

.image7 {
  width: 60%;
  max-width: 1500px;
}

.image8 {
  width: 90%;
  min-width: 180px;
}

.image9 {
  width: 90%;
  min-width: 180px;
}

.contact-img {
  position: absolute;
  max-width: 360px;
  min-width: 196px; /* image width + border width */
  width: 20%;
}

.contact-img1 {
  top: 17%;
  right: -5%;
}

.contact-img2 {
  bottom: -10%;
  left: -5%;
}

.about-us,
.description-history,
.home-about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.description {
  width: 40%;
}

.numbers,
.help-types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.numbers p {
  color: var(--primary-text-color);
  font-size: 35px;
}

.numbers p:first-of-type {
  font-size: 70px;
}

.numbers div {
  width: 260px;
}

.title-history {
  display: inline-block;
  margin-bottom: 30px;
}

.title-history,
.description-history p {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 15px;
  padding: 10px;
}

.description-history p {
  border: 1vw solid var(--secondary-color);
}

.detail {
  width: 70%;
  margin: 25px auto 90px auto;
}

.operation {
  padding: 0 5vw;
}

.operation p {
  margin-bottom: 10px;
}

.join-us div {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  min-height: 250px;
}

.join-us p {
  width: 50%;
  margin: 5px auto;
}

.description-title {
  color: var(--primary-text-color);
  font-size: 30px;
  margin: 85px auto;
}

.icon-title {
  margin: 10px auto;
  width: 50%;
}

.medium-width-p p {
  width: 65%;
}

.title-end {
  margin-top: 15vw;
  margin-bottom: 20px;
}

.contact {
  position: relative;
}

.donation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.donation-title {
  width: 50%;
}

.donation-icon {
  margin-top: 30px;
}

.donation-description {
  width: 43%;
  margin: 0;
  color: var(--primary-text-color);
}

.donation-description > p:first-of-type {
  color: var(--primary-text-color);
}

.logo {
  border: none;
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
}

.donation-pix > p {
  font-size: 33px;
}

.img-header {
  width: 20vw;
  margin: 0.5vw 0 0.3vw 1vw;
  max-width: 250px;
}

.burger {
  display: none;
  align-items: center;
  margin-right: 20px;
}

.burger-icon {
  font-size: 5vw;
}

.nav-mobile {
  display: none;
}

.img-footer {
  width: 25vw;
  max-width: 450px;
  min-width: 150px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 5vw 10vw 5vw 0;
}

.nav-footer-link {
  text-align: left;
  margin: 5px 0;
}

.footer-left {
  margin: 2vw 5vw 5vw 5vw;
}

.footer-icon {
  font-size: clamp(25px, 4vw, 80px);
  margin-left: 2vw;
}

.footer-left > div {
  margin-top: 10px;
}

.title {
  text-align: center;
  margin-bottom: 100px;
}

input[type="checkbox"] {
  display: none;
}

.checkbox {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border: 1.5px solid gray;
  background-color: white;
  cursor: pointer;
  border-radius: 2.5px;
  margin-right: 7px;
}

/* Change color when checked */
input[type="checkbox"]:checked + .checkbox {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* Checkmark */
.checkbox::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -1px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg);
  opacity: 0; /* hide checmark */
}

.filter-desktop {
  text-align: left;
  width: 220px;
  margin-right: 80px;
}

.filter-desktop p {
  color: var(--primary-text-color);
}

.filter-desktop label,
.filter-mobile-open label {
  display: block;
  margin-bottom: 5px;
}

/* Show checkmark when checked */
input[type="checkbox"]:checked + .checkbox::after {
  opacity: 1;
}

.filter-desktop > *:not(:first-child),
.filter-left > *:not(:first-child),
.filter-right > *:not(:first-child) {
  margin-top: 30px;
}

.show-pets-adoption,
.show-products {
  display: flex;
  justify-content: space-around;
}

.pet-cards,
.product-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px 10px;
}

.card {
  background-color: var(--secondary-color);
  width: 80%;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  max-width: 500px;
  color: white;
  max-width: 500px;
}

.card img {
  width: 95%;
  margin: 5% auto;
  border: none;
}

.card p {
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pet-pages,
.product-pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-mobile {
  display: none;
}

.filter-toggle {
  width: 100%;
  max-width: none;
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.filter-mobile-open {
  background-color: white;
  border-radius: 10px;
  color: var(--secondary-color);
  padding: 20px;
  text-align: start;
}

.filter-mobile-open .filter-toggle {
  border: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 15px;
}

.filter-mobile-open p {
  color: inherit;
}

.filter-mobile-open > div {
  display: flex;
  justify-content: space-between;
}

.filter-left,
.filter-right {
  width: 45%;
}

.pet-info {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
}

.general-info {
  text-align: start;
  width: 40%;
  max-width: 550px;
}

.icon-pet-info {
  margin-right: 7px;
}

.button-pet-info {
  margin: 3px 3px;
}

.pet-description {
  width: 55%;
  text-align: start;
  min-width: 340px;
}

.pet-img {
  width: 30%;
  max-width: 500px;
  margin: 20px auto 10px auto;
}

/* .pet-photos-display {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

.pet-photos {
  max-height: 450px;
  object-position: center;
  min-width: 0;
  height: 90%;
  object-fit: cover;
  max-width: 90%;
}

.loading p {
  color: var(--primary-text-color);
  text-align: center;
  height: 75vh;
  margin-top: 5vh;
}

/* .pet-photos-display p {
  margin-top: 5vw;
} */

.product-card {
  display: flex;
  flex-direction: column;
}

.product-card > .button-secondary {
  margin-top: auto;
}

.product-card > div {
  margin-bottom: 10px;
}

.home-main-img {
  width: 100%;
  border: none;
  border-radius: 0;
}

.home-about-us-img {
  width: 45%;
}

.description-2 {
  width: 45%;
}

.home-pets-number {
  color: black;
}

.help-types p {
  margin-top: 20px;
}

.event-card {
  display: flex;
  background-color: var(--secondary-color);
  color: white;
  padding: 15px 25px;
  margin-bottom: 4vw;
  border-radius: 15px;
}

.event-card p {
  text-align: start;
  color: white;
  margin: 15px 0;
}

.event-information {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  height: auto;
}

.event-information .button-secondary {
  margin-top: auto;
  margin-right: auto;
  max-width: 500px;
}

.img-event {
  width: 45%;
  margin-right: 50px;
  object-fit: contain;
  max-width: 680px;
}

/* Media query for small screens */
@media (max-width: 1350px) {
  .pet-cards,
  .product-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .event-card {
    flex-direction: column;
    align-items: center;
  }

  .img-event {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .events {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .donation {
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 100px;
  }

  .donation p:first-of-type {
    margin-top: 30px;
  }

  .donation-description,
  .donation-title {
    width: auto;
  }

  .donation img {
    margin-top: 20px;
  }

  .donation-icon {
    margin-top: 10px;
    font-size: 6em;
  }

  .pet-info {
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  h1,
  h2 {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  p,
  .button-primary,
  .button-secondary,
  label,
  button,
  .ellipsis {
    font-size: 19px;
  }

  .about-us,
  .description-history,
  .home-about-us {
    flex-direction: column;
  }

  .description,
  .description-2 {
    width: 100%;
    margin-top: 25px;
  }

  .image3 {
    top: 0;
    left: 6.5%;
  }

  .image5 {
    top: 0;
    right: 6.5%;
  }

  .image7 {
    width: 80%;
  }

  .filter-desktop {
    width: 170px;
  }

  .checkbox {
    width: 11px;
    height: 11px;
    border: 1px solid gray;
    border-radius: 2.5px;
  }

  /* Checkmark */
  .checkbox::after {
    left: 3px;
    top: 0;
    width: 2.5px;
    height: 7.5px;
    border-width: 0 2px 2px 0;
  }

  /* .pet-photos-display p {
    margin-bottom: 20vw;
  } */
}

@media (max-width: 950px) {
  .nav-desktop {
    display: none;
  }

  .burger {
    display: flex;
    cursor: pointer;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-mobile-link {
    margin: 15px auto;
  }
}

@media (max-width: 850px) {
  .large-margin {
    margin: 60px 0;
  }

  .xlarge-margin {
    margin: 100px 0;
  }

  .small-margin {
    margin: 25px 0;
  }

  .xsmall-margin {
    margin: 15px 0;
  }

  .image1,
  .image2,
  .home-about-us-img {
    width: 70%;
    margin: auto;
  }

  .image3,
  .image4,
  .image5,
  .image6 {
    display: none;
  }

  .image8 {
    width: 180px;
  }

  .image9 {
    width: 180px;
  }

  .numbers {
    flex-direction: column;
    align-items: center;
  }

  .numbers p:first-of-type {
    font-size: 40px;
  }

  .numbers p {
    font-size: 19px;
  }

  .numbers div {
    margin: 20px 0;
  }

  .operation {
    padding: 0;
  }

  .join-us p {
    width: 100%;
  }

  .join-us div {
    min-height: auto;
  }

  .medium-width-p p {
    width: 100%;
  }

  .icon-title {
    width: 100%;
  }

  .contact {
    position: static;
    text-align: center;
  }

  .contact-img1,
  .contact-img2 {
    position: static;
    width: 100%;
    max-width: none;
    margin: 85px auto;
  }

  .donation-pix > p {
    font-size: 22px;
  }
}

@media (max-width: 800px) {
  .title {
    margin-bottom: 50px;
  }

  .filter-desktop {
    display: none;
  }

  .show-pets-adoption,
  .show-products {
    flex-direction: column;
  }

  .filter-mobile {
    display: block;
    margin: 30px auto;
  }
}

@media (max-width: 750px) {
  .pet-info,
  .help-types {
    margin-top: 0;
    flex-direction: column;
  }

  .general-info,
  .pet-description {
    margin: 10px auto;
    text-align: center;
    width: 100%;
    min-width: auto;
  }

  .general-info > * {
    margin: 15px auto;
  }

  .pet-img {
    width: 45%;
  }

  .help-types div {
    margin-bottom: 25px;
  }
}

@media (max-width: 600px) {
  footer,
  .footer-right {
    flex-direction: column;
  }

  .footer-right {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .nav-footer,
  .nav-footer > * {
    margin: 0 auto;
  }

  .nav-footer-link {
    margin: 5px auto;
  }

  .footer-left > div {
    display: flex;
    justify-content: space-evenly;
  }

  footer {
    margin-bottom: 0;
  }

  .footer-icon {
    margin-left: 0;
  }
}

@media (max-width: 550px) {
  .pet-cards,
  .product-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 85%;
  }

  .home .card {
    width: 70%;
  }

  .button-inactive,
  .ellipsis {
    display: none;
  }
}

@media (max-width: 500px) {
  .filter-mobile-open > div {
    display: flex;
    flex-direction: column;
  }

  .filter-right > * {
    margin-top: 30px;
  }

  .filter-left,
  .filter-right {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .title-adoption {
    font-size: 35px;
  }

  .pet-img {
    width: 60%;
  }
}

@media (max-width: 360px) {
  .little-text {
    font-size: 19px;
  }
}

/* Media query for large screens */
@media (min-width: 1300px) {
  .join-us div {
    min-height: 290px;
  }
}

@media (min-width: 1500px) {
  .about-us,
  .description-history,
  .home-about-us {
    justify-content: space-evenly;
  }

  .contact-img1 {
    right: 8%;
  }

  .contact-img2 {
    left: 8%;
  }
}
